body{
  background:#111;
  color:#fff;
  font-family:Tahoma;
  text-align:center;
}

.card{
  background:#1e1e1e;
  width:320px;
  margin:50px auto;
  padding:20px;
  border-radius:12px;
}

.hidden{display:none;}

button{
  width:100%;
  padding:10px;
  margin:6px 0;
  border:none;
  border-radius:8px;
  background:#ffb000;
  font-size:16px;
  cursor:pointer;
}

input,select{
  width:100%;
  padding:8px;
  margin:6px 0;
  border-radius:6px;
  border:none;
}
